[submodule "python_modules/ampere_core"]
	path = python_modules/ampere_core
	url = git@github.com:ampere-medical/ampere-core.git
	branch = main
[submodule "servers/node_server"]
	path = servers/node_server
	url = git@github.com:ampere-medical/node-server.git
	branch = main
[submodule "servers/dev_server"]
	path = servers/dev_server
	url = git@github.com:ampere-medical/dev-server.git
	branch = main
